html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

.header__title {
    margin-left: 50px;
    margin-top: 50px;
}

.section__addTask--text {
    max-width: 900px;
    margin-left: 50px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    max-height: 50px;
    margin-right: 50px;
    box-shadow: 0px 0px 3px 0px #000000;
}

.section__tasksList--text {
    max-width: 900px;
    margin-left: 50px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 50px;
    margin-right: 50px;
    margin-top: 10px;
    box-shadow: 0px 0px 3px 0px #000000;
}

.form {
    margin-top: 1px;
    max-width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 3px 0px #000000;
}

.tasksInput {
    flex-basis: 80%;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .tasksInput {
        width: 50%;
    }
}

.button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
}

@media (min-width: 768px) {
    .form {
        flex-wrap: unset;
    }
    .button {
        flex-basis: 50%;
    }

}

.tasksList--containter {
    max-width: 900px;
    margin-left: 50px;
    background-color: white;
    margin-right: 50px;
    margin-top: 1px;
    box-shadow: 0px 0px 3px 0px #000000;
    list-style: none;
}

.button:hover {
    background-color: rgba(0, 128, 128, 0.911)
}

.tasksList {
    list-style: none;
    padding: 10px;
    margin: 1px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 20px;
    padding: 10px 15px;

}

.doneButton {
    padding: 12px;
    background-color: green;

}

.removeButton {
    padding: 12px;
    background-color: red;
}