html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    max-width: 900px;
    margin: auto;
}

.header__title {
    margin-left: 50px;
    margin-top: 50px;
}

.section__addTask--text {
    max-width: 900px;
    margin-left: 50px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    max-height: 50px;
    margin-right: 50px;
    box-shadow: 0px 0px 3px 0px #000000;
}

.section__tasksList--text {
    max-width: 900px;
    margin-left: 50px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 50px;
    margin-right: 50px;
    margin-top: 10px;
    box-shadow: 0px 0px 3px 0px #000000;
}

.form {
    margin-top: 1px;
    max-width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 10px;
    box-shadow: 0px 0px 3px 0px #000000;
}

ul {
    padding: 5px;
}

.tasksInput {
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
}

@media (max-width: 767px) {
    .form {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    word-break: keep-all;
}

.tasksList--containter {
    max-width: 900px;
    margin-left: 50px;
    background-color: white;
    margin-right: 50px;
    margin-top: 1px;
    box-shadow: 0px 0px 3px 0px #000000;
}


.button:hover {
    background-color: rgba(0, 128, 128, 0.911);
}

.doneButton {
    padding: 12px;
    background-color: green;
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: 40px;
}

.removeButton {
    padding: 12px;
    background-color: red;
    cursor: pointer;
}

.addedList {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    grid-gap: 20px;
    border-bottom: 1px solid rgb(227, 225, 225);
    justify-content: space-between;
}